<div class="kanban-board">
    <div class="kanban-header">
        <h1>Kanban Board</h1>
        <div class="add-column">
            <input [(ngModel)]="newColumnName" placeholder="Add a new column" />
            <button (click)="addColumn()">Add Column</button>
        </div>
    </div>
    <div class="kanban-lists">
        <div *ngFor="let list of board; let i = index" class="kanban-list" (dragover)="onDragOver($event)"
            (drop)="onDrop($event, i)">
            <div class="list-header">
                <div *ngIf="editColumnIndex !== i; else editColumnName">
                    <h3>{{ list.name }}</h3>
                </div>
                <ng-template #editColumnName>
                    <input [(ngModel)]="list.name" (blur)="saveColumnName(i)" />
                </ng-template>
                <div class="icons">
                    <i class="fa-solid fa-pencil" (click)="editColumn(i)"></i>
                    <div class="bin-icon" (click)="removeColumn(i)">
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
            <div *ngFor="let card of list.cards; let j = index" class="kanban-card" draggable="true"
                (dragstart)="onDragStart($event, i, j)">
                <div class="card-content">
                    <div *ngIf="editCardIndex.i !== i || editCardIndex.j !== j; else editCardName">
                        {{ card.title }}
                    </div>
                    <ng-template #editCardName>
                        <input [(ngModel)]="card.title" (blur)="saveCardTitle(i, j)" />
                    </ng-template>
                    <div class="icons">
                        <i class="fa-solid fa-pencil" (click)="editCard(i, j)"></i>
                        <div class="bin-icon" (click)="removeCard(i, j)">
                            <i class="fas fa-trash-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-card">
                <input [(ngModel)]="newCardTitle[i]" placeholder="Add a new card" />
                <button (click)="addCard(i)">Add Card</button>
            </div>
        </div>
    </div>
</div>